smartlink/flow_interceptor.json
[
    {
        "id": "be17f30618fe4f0d",
        "type": "tab",
        "label": "Flow  Daiane - teste",
        "disabled": false,
        "info": "",
        "env": [],
        "flowCategory": {
            "value": "",
            "label": "---"
        },
        "dbPanelCode": ""
    },
    {
        "id": "987c9f3046a7bd02",
        "type": "PL/SQL Object Interceptor",
        "z": "be17f30618fe4f0d",
        "name": "liberar_informacao",
        "url": "/interceptor/plsql/",
        "method": "post",
        "usetls": false,
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "3b2c127eaa127ffd",
                "af4221fcc8899706",
                "ce0eea50a0bce25e"
            ]
        ]
    },
    {
        "id": "3b2c127eaa127ffd",
        "type": "http response",
        "z": "be17f30618fe4f0d",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "af4221fcc8899706",
        "type": "debug",
        "z": "be17f30618fe4f0d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "ce0eea50a0bce25e",
        "type": "tasy data access",
        "z": "be17f30618fe4f0d",
        "name": "",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "a087c1bb6e8c5ccd",
                "743b096a7cfb9443"
            ]
        ]
    },
    {
        "id": "a087c1bb6e8c5ccd",
        "type": "function",
        "z": "be17f30618fe4f0d",
        "name": "function 1",
        "func": "const dataRecord            = msg.req.body.arguments_in;\nconst log = `NM_TABELA_P:  ${dataRecord.NM_TABELA_P}, NM_CHAVE_P:  \n            ${dataRecord.NM_CHAVE_P}, QT_CHAVE_P: ${dataRecord.QT_CHAVE_P},\n            NM_USUARIO_P: ${dataRecord.NM_USUARIO_P}, IE_HTML_P: ${dataRecord.IE_HTML_P}`;\nconst sqlInsert = `INSERT INTO log_tasy (  dt_atualizacao,\n                                nm_usuario,\n                                cd_log,\n                                ds_log)\n                VALUES       (  SYSDATE,\n                                '${dataRecord.NM_USUARIO_P}',\n                                1,\n                                SUBSTR('${log}',1,2000))`;\n\nmsg.topic = sqlInsert;\nmsg.value = dataRecord;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "fb864c5b5bc1057e",
                "5e5186bf3609bb64"
            ]
        ]
    },
    {
        "id": "fb864c5b5bc1057e",
        "type": "debug",
        "z": "be17f30618fe4f0d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "743b096a7cfb9443",
        "type": "debug",
        "z": "be17f30618fe4f0d",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "5e5186bf3609bb64",
        "type": "tasy data access",
        "z": "be17f30618fe4f0d",
        "name": "",
        "x": 870,
        "y": 380,
        "wires": [
            []
        ]
    }
]